<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://taksii.efekt.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ssl3.webio.pl:8172/msdeploy.axd?site=taksii.efekt.co.uk</MSDeployServiceURL>
    <DeployIisAppPath>taksii.efekt.co.uk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>taksii.efekt.c_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SiiTaxiEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql.webio.pl,2401;Initial Catalog=efekt_taksii;Persist Security Info=True;User ID=efekt_taksii;Password=Zonkzonk123!;Application Name=EntityFramework" Name="Data Source=mssql.webio.pl,2401;Initial Catalog=efekt_taksii;Persist Security Info=True;User ID=efekt_taksii;Password=Zonkzonk123!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SiiTaxi.Models.SiiTaxiEntities, SiiTaxi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=mssql.webio.pl,2401;Initial Catalog=efekt_taksii;Persist Security Info=True;User ID=efekt_taksii;Password=Zonkzonk123!;Application Name=EntityFramework" Name="Data Source=mssql.webio.pl,2401;Initial Catalog=efekt_taksii;Persist Security Info=True;User ID=efekt_taksii;Password=Zonkzonk123!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SiiTaxi.Models.ApplicationDbContext, SiiTaxi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mssql.webio.pl,2401;Initial Catalog=efekt_taksii;Persist Security Info=True;User ID=efekt_taksii;Password=Zonkzonk123!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SiiTaxiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SiiTaxiEFModel.csdl|res://*/Models.SiiTaxiEFModel.ssdl|res://*/Models.SiiTaxiEFModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mssql.webio.pl,2401;Initial Catalog=efekt_taksii;Persist Security Info=True;User ID=efekt_taksii;Password=Zonkzonk123!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>