Skip to content
This repository

Pull requests
Issues
Gist

@polishere 

1 

0 

0 

polishere/ 

TakSii
Code
Issues 0 

Pull requests 0 

Projects 0 

Wiki
Pulse
Graphs
Settings
TakSii/ 

src/ 

styles.css
85319c1 

4 

days ago
@polishere 

polishere init
@polishere 

@angular-cli
120 lines (116 sloc) 2 KB
/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
    padding-top: 65px;
}

body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

a {
    cursor: pointer;
    cursor: hand;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    padding: 5px 10px;
}

button:hover { background-color: #cfd8dc; }

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */

nav a {
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

nav a:visited, a:link { color: #607D8B; }

nav a:hover {
    background-color: #CFD8DC;
    color: #039be5;
}

nav a.active { color: #039be5; }

/* items class */

.items {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
    width: 24em;
}

.items li {
    background-color: #EEE;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    position: relative;
}

.items li:hover {
    background-color: #DDD;
    color: #607D8B;
    left: .1em;
}

.items li.selected {
    background-color: #CFD8DC;
    color: white;
}

.items li.selected:hover { background-color: #BBD8DC; }

.items .text {
    position: relative;
    top: -3px;
}

.items .badge {
    background-color: #607D8B;
    border-radius: 4px 0 0 4px;
    color: white;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    left: -1px;
    line-height: 1em;
    margin-right: .8em;
    padding: 0.8em 0.7em 0 0.7em;
    position: relative;
    top: -4px;
}

/* everywhere else */

* { font-family: Arial, Helvetica, sans-serif; }


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

Contact GitHub API Training Shop Blog About 

© 

2017 

GitHub, Inc. Terms Privacy Security Status Help 