@{
    ViewBag.Title = "Administracja";
}
     <h2>Administracja</h2>
<ul class="nav nav-pills">
    <li role="presentation" class="active">@Html.ActionLink("Home", "Index", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
    <li role="presentation" >@Html.ActionLink("Approvers", "Approvers", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
</ul>
